.container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.todos_table {
    position: relative;
    max-width: 100%;
    max-height: 80vh;
    overflow: auto;
    scroll-behavior: smooth;
}


.todos_table table {
    width: 100%;
}


.todos_table::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 1rem;
    background-color: #dfdfdf;
}

.todos_table::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    border-radius: 1rem;
    background-color: #959595;
}


.todos_table .td-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
    gap: 1rem;
}

.todos_table .see_todos_btn a,
.todos_table .see_post_btn a {
    padding: 0.5rem 1rem;
}

.todos_table .see_todos_btn,
.todos_table .see_post_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 0.235rem;
    font-size: 0.9rem;
    font-weight: 500;
    outline: 3px solid transparent;
    transition: 0.25s ease-in-out;
    z-index: 1;
    cursor: pointer;
}

.todos_table .see_post_btn {
    background: rgb(16, 16, 205);

}

.todos_table .see_todos_btn {
    background: rgb(139, 16, 205);

}

.todos_table .see_todos_btn:hover,
.todos_table .see_post_btn:hover {
    filter: brightness(1.25);
}

.todos_table .see_todos_btn:active,
.todos_table .see_post_btn:active {
    transform: scale3d(0.975, 0.975, 0.975);
}

.todos_table .see_todos_btn::before,
.todos_table .see_post_btn::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0.235rem;
    transform-origin: center;
    background: rgba(0, 0, 255, 0.35);
    z-index: -1;
    transition: 0.125s ease-out;
}

.todos_table .see_todos_btn:hover::before,
.todos_table .see_post_btn:hover::before {
    transform: scale3d(1.085, 1.185, 1.125);

}

.todos_table .see_todos_btn a,
.todos_table .see_post_btn a {
    text-decoration: none;
    color: inherit
}