<div class="container">
  <div class="todos_table">
    <table mat-table [dataSource]="todos" class="mat-elevation-z8">
      <!-- firstName Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let element" [title]="element.author">
          {{
            element.author.length > 23
              ? element.author.slice(0, 20).concat("...")
              : element.author
          }}
        </td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element" [title]="element.title">
          {{
            element.title.length > 30
              ? element.title.slice(0, 27).concat("...")
              : element.title
          }}
        </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Completed</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="element.completed"
            disabled="true"
          ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <app-spinner [loading]="isLoading"></app-spinner>
</div>
