.sidebar_drawer-container {
    width: 100%;
    height: 100%;
    margin: auto;
    flex: auto;
    flex-grow: 1;
    display: flex;
}

.sidebar_drawer {
    border: none;
    position: relative;
    width: 30% !important;
    max-width: 110px;
    overflow: hidden !important;
}

.content_drawer {
    width: 100%;
    flex-grow: 1;
    margin: 0 !important;
}



.main {
    width: 50%;
    height: 100% !important;
    margin: auto;
}



@media screen and (max-width: 1024px) {
    .main {
        width: 80%;
    }
}