.main {
    width: 50%;
    height: 100% !important;
    margin: auto;
}


.sidebar_drawer-container {
    width: 100%;
    height: 100%;
    margin: auto;
    flex: auto;
    flex-grow: 1;
    display: flex;
}

.sidebar_drawer {
    border: none;
    position: relative;
    width: 30% !important;
    max-width: 110px;
    overflow: hidden !important;
}

.content_drawer {
    width: 100%;
    flex-grow: 1;
    margin: 0 !important;
    /* margin: auto; */
}

.spinner {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-left: 4px dashed rgba(0, 0, 255, 0.25);
    border-top: 4px dashed rgba(0, 0, 255, 1);
    border-right: 4px dashed rgba(0, 0, 255, 1);
    border-bottom: 4px dashed rgba(0, 0, 255, 0);
    border-radius: 50% 50% 50% 50%;
    z-index: 100000;
    animation: spinner 0.75s infinite linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1024px) {
    .main {
        width: 80%;
    }
}