<div class="post-cards">
  @if(isLoadingUserName){

  <h2 class="user_name-skeleton"></h2>
  }@else {
  <div class="page_header">
    <h2 class="user_name">{{ userName }}</h2>
    <span class="page_title"> Posts </span>
  </div>
  } @if (isLoadingPosts) { @for (post of postsSkeleton; track $index) {
  <div class="post_skeleton">
    <h2 class="post_title"></h2>
    <p class="post_body"></p>
    <p class="author"></p>
  </div>
  } }@else { @for (post of posts; track $index) {

  <app-post-card [post]="post" [author]="userName"></app-post-card>
  } }
</div>
