<div class="container">
  <div class="posts_table">
    <table mat-table [dataSource]="posts" class="mat-elevation-z8">
      <!-- firstName Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <!-- Post Title Column -->
      <ng-container matColumnDef="postTitle">
        <th mat-header-cell *matHeaderCellDef>Post Title</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.postTitle.length > 20
              ? element.postTitle?.slice(0, 20)?.concat("...")
              : element.postTitle
          }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="details_btn" (click)="openDialog(element.id)">
            Details
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <app-spinner [loading]="isLoading"></app-spinner>
</div>
