.sidebar {

    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background: var(--body-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.sidebar .nav_link {
    text-decoration: none;
    position: relative;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #394955;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    filter: opacity(0.75);
    transition: 0.15s ease-in-out;
}

.sidebar .nav_link.activeLink,
.sidebar .nav_link:hover {
    filter: opacity(1);
}

.sidebar .nav_link.activeLink::before,
.sidebar .nav_link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale3d(0, 0, 0);
    background: rgba(38, 206, 105, 0.85);
    transition: 0.3s ease-in-out;
}

.sidebar .nav_link.activeLink::before,
.sidebar .nav_link:hover::before {
    transform-origin: center;
    transform: scale3d(1, 1, 1);
}